In [1]:
# !pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp311-cp311-win_amd64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp311-cp311-win_amd64.whl (876 kB)
   ---------------------------------------- 0.0/876.5 kB ? eta -:--:--
   - ------------------------------------- 41.0/876.5 kB 653.6 kB/s eta 0:00:02
   ----- ---------------------------------- 112.6/876.5 kB 1.3 MB/s eta 0:00:01
   ---------- ----------------------------- 225.3/876.5 kB 1.5 MB/s eta 0:00:01
   -------------------- ------------------- 450.6/876.5 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------  860.2/876.5 kB 3.6 MB/s eta 0:00:01
   ---------------------------------------- 876.5/876.5 kB 3.7 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ---------------------------------------- 0.0/313.6 kB ? eta -:--:--
   --------------------------------------- 313.6/313.6 kB 20.2 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [1]:
import pymongo
import pandas as pd
import numpy as np

In [2]:
client = pymongo.MongoClient("mongodb://dsReader:ds_reader_ndFwBkv3LsZYjtUS@178.128.85.210:27017,104.248.148.66:27017,103.253.146.224:27017")

In [3]:
# Databases and collections
cdp_db = client["cdp_database"]
projects_social_media_col = cdp_db["projects_social_media"]
twitter_users_col = cdp_db["twitter_users"]

knowledge_graph_db = client["knowledge_graph"]
projects_col = knowledge_graph_db["projects"]

# Step 1: Load all _id from both collections and find the common IDs
projects_social_media_ids = list(projects_social_media_col.find({}, {"_id": 1}))
df_projects_social_media = pd.DataFrame(projects_social_media_ids)
df_projects_social_media.rename(columns={"_id": "projectId"}, inplace=True)

projects_ids = list(projects_col.find({}, {"_id": 1}))
df_projects = pd.DataFrame(projects_ids)
df_projects.rename(columns={"_id": "projectId"}, inplace=True)

common_ids = pd.merge(df_projects_social_media, df_projects, on="projectId", how="inner")

In [4]:
# Print the number of IDs that appear in both collections
print("Number of IDs that appear in both collections:", len(common_ids))

Number of IDs that appear in both collections: 5934

In [5]:
# Step 2: For each common projectId, get the twitter user ID from projects_social_media
project_ids = common_ids["projectId"].tolist()

# Query all matching projects_social_media documents in one go to be efficient
social_media_docs = list(projects_social_media_col.find(
    {"_id": {"$in": project_ids}},
    {"twitter.id": 1}
))

# Convert to DataFrame
df_social_media = pd.DataFrame(social_media_docs)
df_social_media.rename(columns={"_id": "projectId"}, inplace=True)

In [6]:
df_social_media.head()

    projectId                    twitter
0    -rain.fi          {'id': 'RainFi_'}
1  0.exchange  {'id': 'OfficialZeroDEX'}
2          01      {'id': '01_exchange'}
3        0vix     {'id': '0vixProtocol'}
4          0x        {'id': '0xProject'}

In [7]:
# Merge to keep consistent ordering and combine with common IDs
df_common_with_twitter = pd.merge(common_ids, df_social_media, on="projectId", how="left")

# Filter out documents without a twitter ID
df_common_with_twitter = df_common_with_twitter.dropna(subset=["twitter"])
df_common_with_twitter = df_common_with_twitter[df_common_with_twitter["twitter"].apply(lambda x: "id" in x and x["id"] != "")]

# Extract the twitter_id into its own column
df_common_with_twitter["twitter_id"] = df_common_with_twitter["twitter"].apply(lambda x: x["id"])

# Step 3: Use twitter_id to query twitter_users collection
twitter_ids = df_common_with_twitter["twitter_id"].tolist()
twitter_users_docs = list(twitter_users_col.find({"userName": {"$in": twitter_ids}}))
df_twitter_users = pd.DataFrame(twitter_users_docs)

# Now we have df_common_with_twitter (with twitter_id) and df_twitter_users (with userName)
# Merge on twitter_id == userName
df_merged = pd.merge(
    df_common_with_twitter,
    df_twitter_users,
    left_on="twitter_id",
    right_on="userName",
    how="left"
)

In [8]:
df_merged.head()

,projectId,twitter,twitter_id,_id,userName,displayName,url,blue,created,timestamp,...,protected,location,country,countLogs,descriptionLinks,engagementChangeLogs,tweetCountChangeLogs,viewChangeLogs,profileBannerUrl,blueType
0,aave,{'id': 'aave'},aave,867100084248469505,aave,Aave,https://x.com/aave,False,2017-05-23 19:29:04+00:00,1.495568e+09,...,NaN,,,"{'1718668800': {'favouritesCount': 3271, 'frie...","[http://app.aave.com, http://aave.com]","{'1728345600': {'likeCount': 0, 'replyCount': ...","{'1728345600': 0, '1728172800': 0, '1728086400...","{'1728345600': 0, '1728172800': 0, '1728086400...",https://pbs.twimg.com/profile_banners/86710008...,Business
1,dydx,{'id': 'dYdX'},dYdX,909929047626354688,dYdX,dYdX,https://x.com/dYdX,True,2017-09-18 23:56:05+00:00,1.505779e+09,...,NaN,dYdX Chain,,"{'1716508800': {'favouritesCount': 2597, 'frie...",[https://dydx.trade/?utm_source=twitter&utm_me...,"{'1728345600': {'likeCount': 0, 'replyCount': ...","{'1728345600': 0, '1728432000': 0}","{'1728345600': 0, '1728432000': 0}",https://pbs.twimg.com/profile_banners/90992904...,Business
2,venus,{'id': 'VenusProtocol'},VenusProtocol,1304609819504984067,VenusProtocol,Venus Protocol,https://x.com/VenusProtocol,True,2020-09-12 02:36:57+00:00,1.599878e+09,...,NaN,MULTICHAIN,,"{'1716508800': {'favouritesCount': 1715, 'frie...","[http://linktr.ee/venusprotocol, http://t.me/V...","{'1728345600': {'likeCount': 67, 'replyCount':...","{'1728345600': 1, '1728432000': 0}","{'1728345600': 3858, '1728432000': 0}",https://pbs.twimg.com/profile_banners/13046098...,NaN
3,lido,{'id': 'LidoFinance'},LidoFinance,1311617716239900673,LidoFinance,Lido,https://x.com/LidoFinance,True,2020-10-01 10:45:17+00:00,1.601549e+09,...,NaN,Ethereum,,"{'1716508800': {'favouritesCount': 4238, 'frie...","[http://stake.lido.fi, http://www.lido.fi]","{'1728345600': {'likeCount': 84, 'replyCount':...","{'1728345600': 5, '1728432000': 0}","{'1728345600': 16243, '1728432000': 0}",https://pbs.twimg.com/profile_banners/13116177...,NaN
4,onyx-protocol,{'id': 'OnyxProtocol'},OnyxProtocol,1607718038031241218,OnyxProtocol,Onyx,https://twitter.com/OnyxProtocol,True,2022-12-27 12:40:42+00:00,1.672145e+09,...,NaN,Ethereum,,"{'1716508800': {'favouritesCount': 103, 'frien...",[https://onyx.org],"{'1728345600': {'likeCount': 0, 'replyCount': ...","{'1728345600': 0, '1728432000': 0}","{'1728345600': 0, '1728432000': 0}",https://pbs.twimg.com/profile_banners/16077180...,NaN

In [10]:
# Load all projects data from projects_col
projects_data = list(projects_col.find({}))
df_projects_data = pd.DataFrame(projects_data)
df_projects_data.rename(columns={"_id": "projectId"}, inplace=True)

# Step 4: Merge with knowledge graph fields
df_final = pd.merge(
    df_merged,
    df_projects_data,
    on="projectId",
    how="left"
)

In [11]:
df_final.head()

,projectId,twitter,twitter_id,_id,userName,displayName,url,blue,created,timestamp,...,spotVolumeChangeRate,walletAddresses,makerFeesRate,takerFeesRate,derivativeMarkets,openInterests,oldImgUrl,derivativeVolumeChangeRate,dexVolumeChangeRate,deployChains
0,aave,{'id': 'aave'},aave,867100084248469505,aave,Aave,https://x.com/aave,False,2017-05-23 19:29:04+00:00,1.495568e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,dydx,{'id': 'dYdX'},dYdX,909929047626354688,dYdX,dYdX,https://x.com/dYdX,True,2017-09-18 23:56:05+00:00,1.505779e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,venus,{'id': 'VenusProtocol'},VenusProtocol,1304609819504984067,VenusProtocol,Venus Protocol,https://x.com/VenusProtocol,True,2020-09-12 02:36:57+00:00,1.599878e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,lido,{'id': 'LidoFinance'},LidoFinance,1311617716239900673,LidoFinance,Lido,https://x.com/LidoFinance,True,2020-10-01 10:45:17+00:00,1.601549e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,onyx-protocol,{'id': 'OnyxProtocol'},OnyxProtocol,1607718038031241218,OnyxProtocol,Onyx,https://twitter.com/OnyxProtocol,True,2022-12-27 12:40:42+00:00,1.672145e+09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Columns: 130 entries, projectId to deployChains
dtypes: float64(59), object(71)
memory usage: 5.8+ MB

In [4]:
tweets_col = cdp_db["tweets"]

# Step 1: Load twitter_users_data.csv into a DataFrame
df_twitter_users = pd.read_csv("twitter_users_data.csv")

# Assume 'userName' is the field identifying the user in twitter_users_data.csv
user_names = df_twitter_users["userName"].unique().tolist()

# Step 2: Select the first 1000 users (or fewer if less than 1000)
sampled_users = user_names[:1000]

# Step 3: Query tweets for these users
query = {"authorName": {"$in": sampled_users}}
tweets_docs = list(tweets_col.find(query))

# Step 4: Convert tweets documents to a DataFrame
df_tweets = pd.DataFrame(tweets_docs)

# Step 5: Save the DataFrame to a CSV file
if not df_tweets.empty:
    df_tweets.to_csv("sampled_users_tweets.csv", index=False)
    print("Tweets data saved to sampled_users_tweets.csv")
else:
    print("No tweets found for the selected users.")

Tweets data saved to sampled_users_tweets.csv

In [5]:
df_tweets.head()

,_id,author,authorName,created,timestamp,url,userMentions,views,likes,replyCounts,retweetCounts,retweetedTweet,text,quotedTweet,impressionLogs,hashTags,keyWords,blockchainContent,purposes,tweetBody
0,1793961532591599926,1512341468651966466,0xC_Lever,2024-05-24 11:05:34+00:00,1.716549e+09,https://twitter.com/0xC_Lever/status/179396153...,{'3027644035': 'Cryptovestor77'},2593.0,0,0,11,"{'_id': '1793951205988745489', 'author': '3027...",RT @Cryptovestor77: 1m https://t.co/KK6e1thoP3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1794281736668618772,1512341468651966466,0xC_Lever,2024-05-25 08:17:56+00:00,1.716625e+09,https://twitter.com/0xC_Lever/status/179428173...,"{'3027644035': 'Cryptovestor77', '151234146865...",428.0,0,0,1,"{'_id': '1794204557112922408', 'author': '3027...",RT @Cryptovestor77: @0xC_Lever going to be a m...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1795316201981350057,1512341468651966466,0xC_Lever,2024-05-28 04:48:32+00:00,1.716872e+09,https://twitter.com/0xC_Lever/status/179531620...,{'1633659822389248002': 'ATeamDefi'},1085.0,0,0,7,"{'_id': '1795183921706959198', 'author': '1633...",RT @ATeamDefi: Shut up and take my money is un...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1795379614027846069,1512341468651966466,0xC_Lever,2024-05-28 09:00:31+00:00,1.716887e+09,https://twitter.com/0xC_Lever/status/179537961...,{'1406268910668816386': 'VotiumProtocol'},3334.0,9,0,1,NaN,Bribes from the latest @VotiumProtocol round h...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1796468490263749116,1512341468651966466,0xC_Lever,2024-05-31 09:07:19+00:00,1.717146e+09,https://twitter.com/0xC_Lever/status/179646849...,{'2904334601': 'CryptoISFreedom'},1981.0,0,0,3,"{'_id': '1796216969529643220', 'author': '2904...",RT @CryptoISFreedom: Long time no $CVX yield u...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
# Save to CSV
df_final.to_csv("twitter_users_data_with_knowledge_graph.csv", index=False)
print("Data saved to twitter_users_data_with_knowledge_graph.csv")

Data saved to twitter_users_data_with_knowledge_graph.csv

In [6]:
# Step 1: Load twitter_users_data.csv into a DataFrame
df_twitter_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5834 entries, 0 to 5833
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   projectId             5834 non-null   object
 1   twitter               5834 non-null   object
 2   twitter_id            5834 non-null   object
 3   _id                   1710 non-null   float64
 4   userName              1710 non-null   object
 5   displayName           1710 non-null   object
 6   url                   1710 non-null   object
 7   blue                  1710 non-null   object
 8   created               1710 non-null   object
 9   timestamp             1710 non-null   float64
 10  favouritesCount       1710 non-null   float64
 11  friendsCount          1710 non-null   float64
 12  listedCount           1710 non-null   float64
 13  mediaCount            1710 non-null   float64
 14  followersCount        1710 non-null   float64
 15  statusesCount         1710 non-null   float64
 16  rawDescription        1674 non-null   object
 17  verified              1710 non-null   object
 18  profileImageUrl       1710 non-null   object
 19  protected             17 non-null     object
 20  location              950 non-null    object
 21  country               68 non-null     object
 22  countLogs             1710 non-null   object
 23  descriptionLinks      1642 non-null   object
 24  engagementChangeLogs  1701 non-null   object
 25  tweetCountChangeLogs  1701 non-null   object
 26  viewChangeLogs        1701 non-null   object
 27  profileBannerUrl      1661 non-null   object
 28  blueType              460 non-null    object
dtypes: float64(8), object(21)
memory usage: 1.3+ MB